<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
    	<setting name="cacheEnabled" value="false"/>
  	</settings>
  	<typeAliases>
		<typeAlias type="model.dto.PostDto" alias="Post" />
		<typeAlias type="model.dto.ReplyDto" alias="Reply" />
		<typeAlias type="model.dto.MemberDto" alias="Member" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@dblab.dongduk.ac.kr:1521:orcl" />
				<property name="username" value="dbpr0106" />
				<property name="password" value="gamkuma" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/mapper/ReplyMapper.xml" />
		<mapper resource="src/main/java/model/dao/mybatis/mapper/ReplyMapper.java"/>
	</mappers>
</configuration>
