@charset "EUC-KR";

    	/*폰트적용*/
    	@font-face {
            font-family: 'GmarketSansLight';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    	
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'GmarketSansMedium';
        }
		
		/*회원가입 title 박스*/
		.titleBox {
            background-color: white;
            width: 80%;
            height: 15%;
            margin: 3% auto 0;
            border-radius: 15px;
            font-size: 20px;
        }
        
        .title {
            color: #89a6d6;
            text-align: center;
            font-family: 'GmarketSansBold';
            font-size: 45px;
            padding-top: 18px;
        }
        
        /*회원가입 입력창*/
        .inputBox {
            background-color: white;
            width: 80%;
            height: 70%;
            margin: 3% auto 0;
            border-radius: 20px;
            font-size: 20px;
        }
        
        .table {
            margin-left: 25%;
            width: 80%;
            height: 90%;
            padding-top: 3%;
        }

        .id_underline {
            border-left-width: 0px;
            border-right-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 1px;
            width: 34%;
            height: 50%;
            padding-top: 1%;
        }
        
        .idCheckButton{
        	font-family: 'GmarketSansMedium';
            width: 15%;
            height: 75%;
            background-color: #89a6d6;
            border-width: 0px;
            color: white;
            box-shadow: 3px 3px gray;
            margin-top:1%;
            padding-top:1%;
            border-radius: 8px;
            font-size: 15px;
        }
        .underline {
            border-left-width: 0px;
            border-right-width: 0px;
            border-top-width: 0px;
            border-bottom-width: 1px;
            width: 50%;
            height: 50%;
            padding: 1%;
        }

        .phone1 {
            width: 14%;
            height: 9%
            padding = 1%;
        }

        .phone2 {
            width: 16%;
            height: 9%
            padding = 1%;
        }

        .phone3 {
            width: 16%;
            height: 9%
            padding = 1%;
        }

        .dateBox {
            width: 50%;
            height: 50%;
            padding: 1%;
        }

        .radioText {
            margin-right: 2%;
        }
        
        .submitButton {
        	font-family: 'GmarketSansBold';
            width: 60%;
            height: 75%;
            background-color: #89a6d6;
            border-width: 0px;
            color: white;
            box-shadow: 3px 3px gray;
            margin-top:1%;
            padding-top:1%;
            border-radius: 8px;
            font-size: 25px;
        }